include requirements.in
include setup.cfg

include README.rst
include LICENSE.txt
include CHANGELOG.rst
include HACKING.rst

include .isort.cfg
include pylintrc
include pytest.ini

# Even though Travis only works on a Git repo,
# this file is important as a reference on the build procedure.
include .travis.yml

graft test
graft doc
prune doc/_build
graft tools

global-exclude *.pyc
