include setup.cfg

include README.rst
include LICENSE.txt
include CHANGELOG.rst
include HACKING.rst
include httpolice/known/README.rst

include .coveragerc
include .isort.cfg
include pylintrc
include pytest.ini
include .eslintrc.js

# Even though Travis only works on a Git repo,
# this file is important as a reference on the build procedure.
include .travis.yml

graft test
graft doc
prune doc/_build
prune doc/_extra
graft tools

global-exclude *.pyc
