# The base requirements for HTTPolice itself.

singledispatch >= 3.4.0.3
six >= 1.10.0
lxml >= 3.6.0
bitstring >= 3.1.4
dominate >= 2.2.0
defusedxml >= 0.4.1

# See https://mail.python.org/pipermail/python-list/2016-July/712095.html .
# The right solution is actually environment markers (see PEP 426),
# but they are not supported by old versions of pip
# that come with distros like Debian 8 or Ubuntu 14.04 --
# and I still want users of those distros
# to be able to ``pip install httpolice`` without a virtualenv.
# My current hypothesis is that
# (1) in most environments, the standard library overrides site-packages;
# (2) even if it doesn't, the conflict is unlikely to cause trouble;
# so we can live like this for now.
enum34 >= 1.1.6
