/****************************************************************
 * Common styles
 ****************************************************************/

body {
    background: white;
    color: black;
    font-family: sans-serif;
    quotes: '“' '”';

    /* I hate this line with a passion, but so far I can't figure out
     * how else to make both sans-serif and monospace fonts look reasonable
     * on a wide range of browsers and platforms. */
    font-size: 14px;
}

@media screen {                             /* Print margins are OK already. */
    body {
        margin: 3em;
    }
}

h1 {
    font-size: x-large;
}

h2, h3 {
    font-size: inherit;
    font-weight: inherit;
}

pre, code {
    font-family: 'Consolas', monospace;
}

a[href] {
    color: inherit;
    text-decoration: inherit;
    border-bottom: thin dotted;
}

cite {
    font-style: inherit;
}

q {
    font-style: italic;
}

abbr {
    text-decoration: inherit;
    border: inherit;
}

hr {
    visibility: hidden;
    clear: both;
}

button {
    /* Make it look more like a pseudo-link. */
    background: transparent;
    border-top: none;
    border-right: none;
    border-bottom: thin dotted;
    border-left: none;
    padding: 0;
    color: gray;
    cursor: pointer;
}

@media print {
    button {
        display: none;
    }
}


/****************************************************************
 * Request and response data
 ****************************************************************/

div.message-display {
    margin-top: 3em;
    max-width: 55em;
}

.message-display h2 {
    font-weight: bolder;
    margin: 0;
    overflow: auto;
    padding: 0 0 0.3em 0;
    white-space: nowrap;
}

pre.header-entry {
    margin: 0;
    white-space: pre-wrap;
    overflow: auto;
    padding: 0.3em 0;

    /* Indent all lines after the first one, a la ``obs-fold``. */
    padding-left: 2em;
    text-indent: -2em;
}

div.body-display, div.trailer {
    margin-top: 2em;
}

.body-display h3, .trailer h3 {
    display: inline-block;
    border: thin dashed;
    padding: 0.3em 0.5em;
    margin: 0;
    color: dimgray;
}

.body-display pre {
    margin-top: 0.7em;
    margin-bottom: 0;
    white-space: pre-wrap;
    max-height: 20em;
    overflow: auto;
}


/****************************************************************
 * Notices
 ****************************************************************/

div.complaints {
    margin-top: 2em;
    padding-left: 1em;
    border-left: thin solid lightgray;
}

div.notice {
    max-width: 55em;
    page-break-inside: avoid;
}

.notice:not(.collapsed) + div.notice {
    /* More spacing between expanded notices. */
    margin-top: 2em;
}

.debug .severity {
    color: darkgray;
}

.error .severity {
    color: red;
}

.notice .ident {
    color: darkgray;
}


/****************************************************************
 * Float notices to the right on wider displays
 ****************************************************************/

@media (min-width: 55em) {
    div.message-display {
        float: left;
        width: 55%;
    }

    div.complaints {
        float: right;
        width: 40%;
    }
}


/****************************************************************
 * Interactive notices
 ****************************************************************/

.notice button {
    float: right;
    margin-left: 1em;
    font-size: smaller;
}

@media screen {                          /* Don't collapse notices in print. */
    .notice.collapsed p {
        display: none;
    }

    .notice.debug.collapsed h3 {
        color: darkgray;
    }
}

.highlight {
    background: navajowhite;
}


/****************************************************************
 * Options
 ****************************************************************/

div.options {
    float: right;
}

@media print {
    .options {
        display: none;
    }
}

@media screen {
    .options.collapsed form {
        display: none;
    }
}

.options form {
    margin-top: 0.3em;
    padding: 0.1em 1em;
    background: lavender;
    white-space: nowrap;
}

form input + label, form label + input {
    margin-left: 0.5em;
}


/****************************************************************
 * List of all notices
 ****************************************************************/

.notices-list div.notice {
    margin-top: 4em !important;
}

.notices-list h3 {
    font-size: larger;
    font-weight: bolder;
}

.notices-list var {
    font-style: inherit;
    display: inline-block;
    background: lavender;
    border: solid thin gray;
    padding: 0 0.1em;
}
