pip-tools
check-manifest
pylint
pytest
pytest-cov
docutils
wheel
twine

# Pin down the versions of Sphinx and Alabaster as used on Read the Docs
# (you can see them in the generated page footers).
# This will have to be checked and synchronized from time to time.
# Not sure if good idea.
Sphinx==1.5.3
alabaster==0.7.10
